<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.hcnc.mapper.admin.AdminEduInfoMapper">

	<select id = "selectEduInfo" resultType = "EduInfoVO">
		 SELECT EDU_ID
		 	  , EDU_NAME
		 	  , START_DATE
		 	  , END_DATE
		 	  , BATCH_NUMBER
		 	  , CAPACITY
		 	  , CREATED_AT
		 	  , UPDATED_AT
		   FROM EDU_INFO
		  WHERE DEL_YN = 'N'
	</select>
		
	<select id = "selectEduInfoById" resultType = "EduInfoVO">
		SELECT EDU_ID
		     , EDU_NAME
		 	 , START_DATE
		 	 , END_DATE
		 	 , BATCH_NUMBER
		 	 , CAPACITY
		 	 , CREATED_AT
		 	 , UPDATED_AT
		  FROM EDU_INFO
		 WHERE DEL_YN = 'N'
		   AND EDU_ID = #{eduId}
	</select>
	
	<insert id = "insertEduInfo" parameterType = "EduInfoVO">
		INSERT INTO EDU_INFO (EDU_ID, EDU_NAME, START_DATE, END_DATE, BATCH_NUMBER, CAPACITY)
 	 	VALUES (#{eduId}, #{eduName}, #{startDate}, #{endDate}, #{batchNumber}, #{capacity})
	</insert>
	
	<update id="updateEduInfo" parameterType="EduInfoVO">
    	UPDATE EDU_INFO
		    <set>
		        <if test="eduName != null and eduName != ''">
		            EDU_NAME = #{eduName},
		        </if>
		        <if test="startDate != null and startDate != ''">
		            START_DATE = #{startDate},
		        </if>
		        <if test="endDate != null and endDate != ''">
		            END_DATE = #{endDate},
		        </if>
		        <if test="batchNumber != null">
		            BATCH_NUMBER = #{batchNumber},
		        </if>
		        <if test="capacity != null">
		            CAPACITY = #{capacity},
		        </if>
		    </set>
		    WHERE EDU_ID = #{eduId}
		      AND DEL_YN = 'N'
	</update>
	
	<update id="deleteEduInfo">
		UPDATE EDU_INFO
		   SET DEL_YN = 'Y'
	 	 WHERE EDU_ID = #{eduId}
		   AND DEL_YN = 'N'
	</update>
	
</mapper>