<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.hcnc.mapper.admin.AdminCafeteriaMapper">
	
	<select id="selectCafeteriaSummary" resultType="CafeteriaVO">
		SELECT
			C.CAFETERIA_ID,
			C.MEAL_DATE,
			C.MEAL_TYPE,
			C.MENU,
			C.MEAL_CLOSED,
		FROM CAFETERIA C
		INNER JOIN (
				SELECT MAX(CAFETERIA_ID) AS max_id
				FROM CAFETERIA
				GROUP BY MEAL_DATE, MEAL_TYPE
		)latest
		ON C.CAFETERIA_ID = latest.max_id
		WHERE YEAR(C.MEAL_DATE) = #{mealYear}
  		  AND MONTH(C.MEAL_DATE) = #{mealMonth}
		GROUP BY C.MEAL_DATE
		ORDER BY C.MEAL_DATE ASC
	</select>
	
	<select id="selectCafeteriaDetail" resultType="CafeteriaVO">
		SELECT C.CAFETERIA_ID, 
		 	C.MEAL_DATE, 
		 	C.MEAL_TYPE, 
		 	C.MENU, 
		 	C.MEAL_CLOSED
		FROM CAFETERIA C
		INNER JOIN (
			SELECT MAX(CAFETERIA_ID) AS max_id
			FROM CAFETERIA
			GROUP BY MEAL_DATE, 
			MEAL_TYPE
		) latest 
		ON C.CAFETERIA_ID = latest.max_id
		WHERE C.MEAL_DATE = #{mealDate}
		  AND C.DEL_YN = 'N'
	</select>

	<insert id="insertCafeteria" parameterType="java.util.List">
		<selectKey keyProperty="cafeteriaId" resultType="String" order="BEFORE">
			SELECT COALESCE(MAX(CAST(SUBSTRING(CAFETERIA_ID, 4) AS UNSIGNED)), 2026000) FROM CAFETERIA
		</selectKey>
		
		INSERT INTO CAFETERIA (
			CAFETERIA_ID
			, MEAL_DATE
			, MEAL_TYPE
			, MENU
			, MEAL_CLOSED
		) VALUES
		<foreach collection="list" item="item" index="idx" separator=",">
			(
				CONCAT('CAF', LPAD(CAST(#{cafeteriaId} AS UNSIGNED) + #{idx} + 1, 7, '0')),
				#{item.mealDate},
				#{item.mealType},
				#{item.menu},
				#{item.mealClosed}
			)
		</foreach>
	</insert>
	
</mapper>