<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.hcnc.mapper.admin.AdminDormitoryMapper">
	
	<select id ="selectCmbDorm" resultType="DormitoryVO">
		SELECT DORMITORY_ID AS dormitoryId,
			   DORMITORY_ROOM_NAME AS dormitoryRoomName
		FROM DORMITORIES
			WHERE DEL_YN = 'N';
	</select>
	
	<select id="selectDormAssign" resultType="DormAssignVO">
		SELECT 
		    S.STUDENT_ID AS studentId,
		    S.STUDENT_NAME AS studentName,
		    S.EDU_ID AS eduId,
		    S.PHONE_NUMBER AS phone,
		    S.DORMITORY_ID AS dormitoryId,
		    D.DORMITORY_ROOM_NAME AS dormitoryRoomName,
		    CASE
		        WHEN S.DORMITORY_ID IS NOT NULL THEN '배정'
		        ELSE '미배정'
		    END AS assignStatus
		FROM STUDENTS S
		LEFT JOIN DORMITORIES D ON S.DORMITORY_ID = D.DORMITORY_ID
		WHERE S.DORM_YN = 'Y'
		AND S.DEL_YN = 'N'
	</select>
	
	<select id="selectDormWaiting" resultType="DormInOutVO">
		SELECT 
		    S.STUDENT_ID AS studentId,
		    S.STUDENT_NAME AS studentName,
		    S.DORMITORY_ID AS dormitoryId,
		    D.DORMITORY_ROOM_NAME AS dormitoryRoomName
		FROM STUDENTS S
		    LEFT JOIN DORMITORIES D ON S.DORMITORY_ID = D.DORMITORY_ID
		WHERE S.DORMITORY_ID IS NOT NULL
		AND S.STUDENT_ID NOT IN (
		    SELECT STUDENT_ID 
		    FROM KIOSK_OPERATIONAL_LOG 
		    WHERE DORM = 'IN'     
		)
	</select>
	
	<select id="selectDormIn" resultType="DormInOutVO">
		SELECT KOL.STUDENT_ID AS studentId, 
			   S.STUDENT_NAME AS studentName,
			   S.DORMITORY_ID AS dormitoryId,
			   D.DORMITORY_ROOM_NAME AS dormitoryRoomName, 
			   KOL.DORM AS dorm
		FROM KIOSK_OPERATIONAL_LOG KOL 
			INNER JOIN STUDENTS S ON
				KOL.STUDENT_ID = S.STUDENT_ID
			INNER JOIN DORMITORIES D ON
				S.DORMITORY_ID = D.DORMITORY_ID 
		WHERE KOL.DORM = 'IN'
	</select>
	
	<select id="selectDormOut" resultType="DormInOutVO">
		SELECT KOL.STUDENT_ID AS studentId, 
			   S.STUDENT_NAME AS studentName, 
			   KOL.DORM AS dorm
		FROM KIOSK_OPERATIONAL_LOG KOL 
			INNER JOIN STUDENTS S ON
			KOL.STUDENT_ID = S.STUDENT_ID 
		WHERE KOL.DORM = 'OUT'
	</select>
	<select id="selectDormInOut" resultType="DormInOutVO">
		SELECT KOL.STUDENT_ID AS studentId, 
			   S.STUDENT_NAME AS studentName,
			   S.DORMITORY_ID AS dormitoryId,
			   D.DORMITORY_ROOM_NAME AS dormitoryRoomName,
			   (SELECT DORM 
			   FROM KIOSK_OPERATIONAL_LOG  
			   WHERE STUDENT_ID = KOL.STUDENT_ID
			   AND DORM='IN'
			   ORDER BY OP_LOG_ID DESC
        		LIMIT 1) AS checkIn,
			   (SELECT DORM 
			   FROM KIOSK_OPERATIONAL_LOG  
			   WHERE STUDENT_ID = KOL.STUDENT_ID
			   AND DORM='OUT'
			   ORDER BY OP_LOG_ID DESC
        	LIMIT 1) AS checkOut 
		FROM KIOSK_OPERATIONAL_LOG KOL
			INNER JOIN STUDENTS S ON
				KOL.STUDENT_ID = S.STUDENT_ID
			INNER JOIN DORMITORIES D ON
					S.DORMITORY_ID = D.DORMITORY_ID 
		WHERE KOL.DORM IS NOT NULL AND S.DEL_YN = 'N'
		GROUP BY KOL.STUDENT_ID, S.STUDENT_NAME, D.DORMITORY_ROOM_NAME
	</select>
	
	<select id="selectDormRoomAssignStatus" parameterType="DormitoryVO" resultType="DormitoryVO">
		SELECT  DORMITORY_ID as dormitoryId,
				DORMITORY_ROOM_NAME as dormitoryRoomName,
   				CURRENT_COUNT as currentCount, 
			   MAX_COUNT as maxCount
		FROM DORMITORIES
		<where>
        	DEL_YN = 'N' 
	        <if test="dormitoryId != null and dormitoryId != ''">
	            AND DORMITORY_ID = #{dormitoryId}
	        </if>
        </where>
	</select>
	
	<select id="selectDormRoomAssignStatusById" resultType="DormitoryVO">
    	SELECT  DORMITORY_ID as dormitoryId,
    			DORMITORY_ROOM_NAME as dormitoryRoomName,
   				CURRENT_COUNT as currentCount, 
			   MAX_COUNT as maxCount
		FROM DORMITORIES
			WHERE DORMITORY_ID = #{dormitoryId}
			AND DEL_YN = 'N'
    </select>
    
    <update id="updateDormId" parameterType="DormAssignVO">
	    UPDATE STUDENTS
			SET DORMITORY_ID = #{dormitoryId}
		WHERE DORM_YN='Y'
			AND STUDENT_ID = #{studentId};
    </update>
    
    <update id="updateDormAssignMaxCnt" parameterType="DormitoryVO">
		UPDATE DORMITORIES
			SET MAX_COUNT = #{maxCount}
		WHERE DORMITORY_ID = #{dormitoryId}
		  AND DEL_YN = 'N'
	</update>
    
    <update id="updateDormCurrentCnt" parameterType="DormitoryVO">
    	UPDATE DORMITORIES
			SET CURRENT_COUNT = CURRENT_COUNT + 1
		WHERE DORMITORY_ID = #{dormitoryId} 
		  AND DEL_YN = 'N'	
    </update>
    
    <update id="updateDormCurrentCntDown" parameterType="DormitoryVO">
    	UPDATE DORMITORIES
			SET CURRENT_COUNT = CURRENT_COUNT - 1
		WHERE DORMITORY_ID = #{dormitoryId}
		  AND DEL_YN = 'N'	
    </update>
</mapper>