<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.hcnc.mapper.admin.AdminCafeteriaMapper">
	
	<select id="selectCafeteriaSummary" resultType="CafeteriaVO">
	    SELECT CAFETERIA_ID,
	           MEAL_DATE,
	           MEAL_TYPE,
	           MENU,
	           MEAL_CLOSED
	      FROM CAFETERIA
	     WHERE DEL_YN = 'N'
	       AND YEAR(MEAL_DATE)  = #{mealYear}
	       AND MONTH(MEAL_DATE) = #{mealMonth}
	     ORDER BY MEAL_DATE ASC
	</select>
	
	<select id="selectCafeteriaDetail" resultType="CafeteriaVO">
	    SELECT CAFETERIA_ID,
	           MEAL_DATE,
	           MEAL_TYPE,
	           MENU,
	           MEAL_CLOSED
	      FROM CAFETERIA
	     WHERE DEL_YN = 'N'
	       AND MEAL_DATE = #{mealDate}
	</select>
	
	<update id="logicalDeleteOldData" parameterType="java.util.List">
	    UPDATE CAFETERIA
	       SET DEL_YN = 'Y',
	           UPDATED_AT = NOW()
	     WHERE DEL_YN = 'N'
	       AND (MEAL_DATE, MEAL_TYPE) IN
	       <foreach collection="list" item="item" open="(" separator="," close=")">
	           (#{item.mealDate}, #{item.mealType})
	       </foreach>
	</update>

	<insert id="insertCafeteria" parameterType="java.util.List">
		<selectKey keyProperty="cafeteriaId" resultType="String" order="BEFORE">
			SELECT COALESCE(MAX(CAST(SUBSTRING(CAFETERIA_ID, 4) AS UNSIGNED)), 2026000) FROM CAFETERIA
		</selectKey>
		
		INSERT INTO CAFETERIA (
			CAFETERIA_ID
			, MEAL_DATE
			, MEAL_TYPE
			, MENU
			, MEAL_CLOSED
		) VALUES
		<foreach collection="list" item="item" index="idx" separator=",">
			(
				CONCAT('CAF', LPAD(CAST(#{cafeteriaId} AS UNSIGNED) + #{idx} + 1, 7, '0')),
				#{item.mealDate},
				#{item.mealType},
				#{item.menu},
				#{item.mealClosed}
			)
		</foreach>
	</insert>
	
	<update id="updateCafeteria" parameterType="CafeteriaVO">
		UPDATE CAFETERIA
		<set>
			<if test="menu != null and menu != ''">
				MENU = #{menu},
			</if>
			<if test="mealClosed != null and mealClosed != ''">
				MEAL_CLOSED = #{mealClosed},
			</if>
			UPDATED_AT = NOW()
		</set>
		WHERE CAFETERIA_ID = #{cafeteriaId}
		  AND DEL_YN = 'N'
	</update>
	
	<update id="deleteCafeteria" parameterType="String">
		UPDATE CAFETERIA
		   SET DEL_YN = 'Y'
		       , UPDATED_AT = NOW()
		 WHERE CAFETERIA_ID = #{cafeteriaId}
		   AND DEL_YN = 'N'
	</update>
	
</mapper>