<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.hcnc.mapper.admin.AdminCafeteriaMapper">
	
	<select id="selectCafeteriaSummary" resultType="CafeteriaVO">
		SELECT CAFETERIA_ID
			   , MEAL_DATE
			   , MEAL_TYPE
			   , MEAL_CLOSED
		FROM CAFETERIA
		WHERE YEAR(MEAL_DATE) = #{searchYear}
		AND MONTH(MEAL_DATE) = #{searchMonth}
		AND DEL_YN = 'N'
		ORDER BY MEAL_DATE ASC
	</select>
	
	<select id="selectCafeteriaDetail" resultType="CafeteriaVO">
		SELECT CAFETERIA_ID
			   , MEAL_DATE
			   , MEAL_TYPE
			   , MENU
			   , MEAL_CLOSED
		FROM CAFETERIA
		WHERE MEAL_DATE = #{mealDate}
		AND DEL_YN = 'N'
	</select>

	<insert id="insertCafeteria" parameterType="CafeteriaVO">
		INSERT INTO CAFETERIA(
			CAFETERIA_ID
			, MEAL_DATE
			, MEAL_TYPE
			, MENU
			, MEAL_CLOSED
		) VALUES(
			#{cafeteriaId}
			, #{mealDate}
			, #{mealType}
			, #{menu}
			, #{mealClosed}
		)
	</insert>
	
	<update id="updateCafeteria" parameterType="CafeteriaVO">
		UPDATE CAFETERIA
		<set>
			<if test="menu != null and menu != ''">
				MENU = #{menu},
			</if>
			<if test="mealClosed != null and mealClosed != ''">
				MEAL_CLOSED = #{mealClosed},
			</if>
			UPDATED_AT = NOW()
		</set>
		WHERE CAFETERIA_ID = #{cafeteriaId}
		AND DEL_YN = 'N'
	</update>
	
	<update id="deleteCafeteria" parameterType="String">
		UPDATE CAFETERIA
		   SET DEL_YN = 'Y'
		       , UPDATED_AT = NOW()
		 WHERE CAFETERIA_ID = #{cafeteriaId}
		   AND DEL_YN = 'N'
	</update>
	
</mapper>