<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.hcnc.mapper.kiosk.BadgeMapper">
	
	<select id = "selectStudents" resultType = "Map" parameterType = "StudentSearchVO">
		SELECT S.STUDENT_ID AS STUDENT_ID
			 , S.STUDENT_NAME AS STUDENT_NAME
			 , S.BIRTH_DATE AS BIRTH_DATE
			 , S.PHONE_NUMBER AS PHONE_NUMBER
			 , E.EDU_NAME AS EDU_NAME
			 , IFNULL(D.DORMITORY_ID, "X") AS DORMITORY_ID
		  FROM STUDENTS S
		  LEFT JOIN DORMITORIES D
		    ON S.DORMITORY_ID  = D.DORMITORY_ID 
		   AND D.DEL_YN = 'N'
		  LEFT JOIN EDU_INFO E
		    ON S.EDU_ID  = E.EDU_ID 
		   AND E.DEL_YN = 'N'
		 WHERE S.BIRTH_DATE = #{birthDate}
		   AND S.DEL_YN = 'N'
	</select>
	
	<select id = "selectStudentDetail" resultType = "Map" parameterType = "StudentSearchVO">
		SELECT S.STUDENT_NAME AS STUDENT_NAME
			 , E.EDU_NAME AS EDU_NAME
			 , E.START_DATE AS START_DATE
			 , E.END_DATE  AS END_DATE
			 , IFNULL(D.DORMITORY_ID, 'X') AS DORMITORY_ID
			 , D.DORMITORY_ROOM_NAME AS DORMITORY_ROOM_NAME
		  FROM STUDENTS S
		  LEFT JOIN DORMITORIES D
		    ON S.DORMITORY_ID  = D.DORMITORY_ID 
		   AND D.DEL_YN = 'N'
		  LEFT JOIN EDU_INFO E
		    ON S.EDU_ID  = E.EDU_ID
		   AND E.DEL_YN = 'N'
   		 WHERE S.STUDENT_ID = #{studentId} 
   		   AND S.DEL_YN = 'N'
	</select>
	
	<update id = "updateAttendYN" parameterType = "StudentSearchVO">
		 UPDATE STUDENTS 
   			SET ATTEND_YN = 'Y'
 		  WHERE STUDENT_ID = #{studentId}
 		    AND ATTEND_YN = 'N'
 		    AND DEL_YN = 'N'
	</update>
	
	<update id = "updateDormitoryCount" parameterType = "StudentSearchVO">
	    UPDATE DORMITORIES 
	       SET CURRENT_COUNT = CURRENT_COUNT + 1
	     WHERE DORMITORY_ID = (
	        SELECT DORMITORY_ID
	          FROM STUDENTS
	         WHERE DORM_YN = 'Y'
	           AND STUDENT_ID = #{studentId}
	           AND DEL_YN = 'N'
	         )
	       AND MAX_COUNT > CURRENT_COUNT
	       AND DEL_YN = 'N'
	</update>
	
	<select id = "selectStudentStatus" resultType = "Map" parameterType = "StudentSearchVO">
		SELECT ATTEND_YN
			 , DORM_YN
		  FROM STUDENTS 
		 WHERE STUDENT_ID = #{studentId}
		   AND DEL_YN = 'N'
	</select>
	
	
	<select id = "selectDormitoryInfo" resultType = "Map" parameterType = "StudentSearchVO">
		SELECT D.CURRENT_COUNT
			 , D.MAX_COUNT
		  FROM DORMITORIES D
		  JOIN STUDENTS S
		    ON S.DORMITORY_ID = D.DORMITORY_ID
		   AND S.DEL_YN = 'N' 
		 WHERE S.STUDENT_ID = #{studentId}
		   AND D.DEL_YN = 'N'
	</select>
	
	<select id = "selectStudentEduInfo" resultType = "Map" parameterType = "StudentSearchVO">
		SELECT E.START_DATE
			 , E.END_DATE
		  FROM EDU_INFO E
		  JOIN STUDENTS S
		    ON S.EDU_ID = E.EDU_ID
		   AND E.DEL_YN = 'N' 
		 WHERE S.STUDENT_ID = #{studentId}
		   AND S.DEL_YN = 'N'
	</select>
	
	<select id = "selectAvailableDormitory" resultType = "Map">
		SELECT DORMITORY_ID
		  FROM DORMITORIES
		 WHERE MAX_COUNT > CURRENT_COUNT
		   AND DEL_YN = 'N'
		 LIMIT 1
	</select>
	
	<update id = "updateStudentDormitory" parameterType = "StudentSearchVO">
		UPDATE STUDENTS
		   SET DORMITORY_ID = #{dormitoryId}
		 WHERE STUDENT_ID = #{studentId}
		   AND DEL_YN = 'N'
	</update>
	
	<select id = "selectTodaySubject" resultType = "Map" parameterType = "StudentSearchVO">
		SELECT J.SUBJECT_NAME
			 , J.CLASSROOM_ID
			 , C.CLASSROOM_NAME
			 , C.FLOOR
			 , C.IMAGE_PATH
			 , C.IMAGE_ID
		  FROM SUBJECT J
		  JOIN STUDENTS S
		    ON S.EDU_ID = J.EDU_ID 
		   AND S.DEL_YN = 'N'
		  JOIN CLASSROOM C
		    ON C.CLASSROOM_ID = J.CLASSROOM_ID
		   AND C.DEL_YN = 'N'
		 WHERE S.STUDENT_ID = #{studentId}
		   AND J.DEL_YN = 'N'
		   AND J.END_YN = 'N'
		   AND J.END_DATE >= DATE_FORMAT(CURDATE(),'%y%m%d')
		   AND DATE_FORMAT(CURDATE(), '%y%m%d') >= J.START_DATE
	</select>
	
	<select id="selectTodayAttendance" parameterType="StudentSearchVO" resultType="int">
		SELECT COUNT(*)
		  FROM ATTENDANCE
		 WHERE STUDENT_ID = #{studentId}
		   AND ATTEND_DATE = CURDATE()
		   AND DEL_YN = 'N'
	</select>
</mapper>