<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.hcnc.mapper.kiosk.FacilityInfoMapper">

	<!-- 시설정보 조회  -->
	<select id="selectFacilityList" parameterType="string" resultType="FacilityInfoVO">
		SELECT FACILITY_ID,
               FACILITY_TYPE,
               NAME,
               LOCATION,
               IMAGE_PATH,
               DESCRIPTION,
               FLOOR,
               MAP_X,
               MAP_Y,
               CREATED_AT,
               UPDATED_AT,
               DEL_YN
          FROM FACILITY
         WHERE DEL_YN = 'N'
         ORDER BY CREATED_AT DESC
	</select>
</mapper>
